.second-section {

    width: 100%;
    display: flex;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    margin-bottom: 0;
}

.font-size-large {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(3, 83, 76);

}

.second-section>div:nth-child(1) {
    flex: 6;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif !important;
    font-size: 35px;
    line-height: 42px;
    font-weight: 800;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5%;
    padding-bottom: 5%;
    background-position: right -20px;
    background-image: url("../../../ASSETS/IMG//homepage//secondSection/bg-second.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    width: 90%;
    color: #ffffff;
}

.second-section>div:nth-child(2) {
    flex: 3;
    background-color: rgba(100, 100, 100, 0.5);
    margin: 30px 0px;
    border-radius: 15px;
    z-index: 12;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    padding: 0px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.policy-acceptance {
    padding:5px 20px;
}

.second-section>div>form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 10;
}

.second-section>div>form>input {
    margin: 10px 0;
    width: 100%;
    height: 30px;
    font-size: 22px;
}

.second-section>div>form>select {
    margin: 10px 0;
    width: 100%;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
}

.form-btn {
    width: 100%;
}

.btn-success {
    font-size: 24px;
    font-weight: 600;
    padding-top: .275rem !important;
    padding-bottom: .275rem !important;
    background-color: #347571;
}

.second-section-form-container {
    width: 90%;
    height: 460px;
}

.second-section-form-container>form {
    margin: 20px 0;
}

@media screen and (max-width:1080px) {

    .second-section>div:nth-child(2) {
        margin-right: 5%;
        font-size: 1.35rem;
    }

    .font-size-large {
        font-size: 24px;
    }

    .second-section>div:nth-child(1) {
        flex: 5;
    }

    .second-section>div:nth-child(2) {
        font-size: 13px;
        padding: 0 20px;
    }

    .font-size-large {
        font-size: 16px;
    }
}


@media screen and (max-width:900px) {

    .second-section>div:nth-child(1) {
        flex: 4;
    }

}


@media screen and (max-width:720px) {
    .second-section {
        flex-direction: column;
        align-items: center;
        height: 850px
    }

    .second-section>div:nth-child(2) {
        margin: 30px auto;

    }

    .second-section>div:nth-child(1) {
        height: 500px !important;
        padding-bottom: 0;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.55);
        border-radius: 15px;
        margin-top: 40px;
    }


}