.second-section {

    width: 100%;
    display: flex;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    margin-bottom: 0;
}

.font-size-large {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(3, 83, 76);

}

.second-section>div:nth-child(1) {
    flex: 6;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: #404040;
    color: #347571;
    background-color: #fff;
    text-shadow: -2px -2px #b6b4b5;
    font-family: 'Poppins', sans-serif !important;
    line-height: 68px;
    align-items: center;
    justify-content: center;
}

.second-section>div:nth-child(2) {
    flex: 3;
    background-color: #fff;
    margin: 30px 0px;
    border-radius: 15px;
    z-index: 12;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    padding: 0px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.policy-acceptance {
    padding: 20px;
}

.second-section>div>form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 10;
}

.second-section>div>form>input {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    font-size: 22px;
}

.btn-success {
    font-size: 24px;
    font-weight: 600;
    padding-top: .275rem !important;
    padding-bottom: .275rem !important;
    background-color: #347571;
    /* background-image: linear-gradient(to left, #22c1c3, #fdbb2d); */
}

.second-section-form-container {
    width: 90%;
    height: 460px;
}

.second-section-form-container>form {
    margin: 20px 0;
}

@media screen and (max-width:1080px) {

    .second-section>div:nth-child(2) {
        margin-right: 5%;
        font-size: 1.35rem;
    }

    .font-size-large {
        font-size: 24px;
    }

    .second-section>div:nth-child(1) {
        flex: 5;
    }

    .second-section>div:nth-child(2) {
        font-size: 13px;
        padding: 0 20px;
    }

    .font-size-large {
        font-size: 16px;
    }
}


@media screen and (max-width:900px) {

    .second-section>div:nth-child(1) {
        flex: 4;
    }

}


@media screen and (max-width:720px) {
    .second-section {
        flex-direction: column;
        align-items: center;
    }

    .second-section>div:nth-child(2) {
        margin: 30px auto;
    }
}