.first-section {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif !important;
    color: #404040;
    background-color: #fff;
    text-shadow: -2px -2px #b6b4b5;
    padding: 5% 0;
}

.first-section>div:nth-child(1)>b {
    margin: 0;
    padding: 0
}

.first-section>div:nth-child(1) {
    margin: 4% 0 0 5%;
    flex: 1;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* line-height: 88px; */
}

.first-section>div:nth-child(2) {
    /* height: 250px; */
    flex: 1;
}

.first-section>div:nth-child(2)>img {
    width: 400px;
    height: 400px !important;
    border: 2px solid black;

}

.d-block {
    border: 2px solid black;
    border-radius: 5%;
    margin-right: -10%;
    display: inline !important;
}

@media screen and (max-width:1080px) {

    .first-section>div:nth-child(1) {
        font-size: 2.35rem;
    }
}

@media screen and (max-width:720px) {

    .first-section>div:nth-child(1) {
        font-size: 1.5rem;
    }
}