.first-section {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif !important;
    background-color: #347571;
    padding: 0 0;
    margin-top: 0px;
    color: white;
    height: 680px;
    font-weight: 800;
    align-items: center;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(52, 117, 113, 0.9);
}

.first-section>div:nth-child(1)>p {
    text-align: start;
    font-size: 35px;
    margin: 0 5%;
    margin-left: 10%;
    line-height: 42px;
    color: #fff;
    font-weight: 800;
}

.first-section>div:nth-child(1) {
    border: 2px red;
    flex: 1;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.first-section .btn-parent>.btn {
    margin-left: 50px;
    height: 60px;
    padding: 40px;
    background-color: #ff9925;
    border: 1px solid black;
    margin-top: 40px;
}

.first-section>div:nth-child(2) {
    flex: 1;
}


.first-section>div:nth-child(2)>img {
    width: 400px;
    height: 400px !important;
    border: 2px solid rgb(255, 255, 255) !important;


}

.d-block {
    border: 2px solid rgb(255, 255, 255);
    margin-right: -30%;
    display: inline !important;
    border-radius: 20px !important;
}

.btn-parent {
    font-size: 18px;
    line-height: 27px;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 30px;
    font-weight: 300;
    text-align: left;

}

.carousel-caption {
    margin: 20px 24%;
    width: 50%;
    /* background-color: rgb(0 0 0 / 50%); */
    color: #fff;
    font-weight: 700;
    font-size: 48px !important;
}

.first-section .btn-parent>div {
    width: 350px;
    margin: 10px 0px;
    display: flex;
}


.two-btn-container {
    width: 218px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

@media screen and (max-width:1080px) {
    .first-section>div:nth-child(1) {
        font-size: 2.35rem;
    }
}

@media screen and (max-width:720px) {
    .first-section>div:nth-child(1) {
        font-size: 24px;
    }

    .first-section {
        height: 370px;
        height: 100%;
    }

    .first-section>div:nth-child(1) {
        margin-top: 100px;
    }

    .d-block {
        margin-top: 100px;
    }

    .carousel-caption {
        font-size: 27px !important;
    }
}

@media screen and (max-width:576px) {
    .carousel-caption {
        margin: 0;
        width: 80%;
        margin-top: -10%;
        padding: 100px 0;
    }

    .first-section>div:nth-child(1) {
        font-size: 22px;
    }

    .first-section {
        flex-direction: column;
        height: 100%;
    }

    .d-block {
        margin: 100px 0;
    }

    .first-section>div:nth-child(1)>p {

        line-height: 35px;
    }

    .first-section>div:nth-child(1)>p {
        padding: 0px;
        margin: 0 5% !important;
    }

    .btn-parent>p {
        text-align: justify;
        margin: 0 5% !important;
    }

    .btn-parent {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .first-section .btn-parent>div {
        margin-left: 0;
    }

    .w-50 {
        width: 90% !important;
    }
}

.carousel-indicators {
    display: none;
}