.checkout-box {
    background-color: rgb(236, 236, 236);
    font-family: 'Nunito', sans-serif !important;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro;
    width: 35%;
    margin: auto;
    border-radius: 25px;
    margin-top: 100px;
    background-color: #fff;
}

.pay-button {
    color: #fff;
    background-color: rgb(21, 151, 21);
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 100px 0;
}

.checkout-details {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: flex-start;
    font-size: 28px;

}

.checkout-details>div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}



.checkout-heading {
    font-size: 52px;
    margin: 10px 0;
}

.course-heading {
    margin: 10px 0;
}

@media screen and (max-width:1000px) {
    .checkout-container {
        width: 60%;
    }
}

@media screen and (max-width:576px) {
    .checkout-container {
        width: 80%;
    }
}