.login-container {
    display: flex;
    flex-direction: column;
}

.login-container>form>input {
    margin: 20px auto;
}

.login-container>form {
    display: flex;
    flex-direction: column;
}

.login-submit-button {
    background-color: rgb(80, 129, 5);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: #000;
    margin: 40px auto;
    font-weight: 600;
    width: 350px;
    height: 60px;
}



.login-submit-button:hover {
    background-color: white;
    color: green;
    border-color: black;
    transition: .6s ease;
}

input {
    border: 3px solid rgb(17, 92, 17);
    border-radius: 10px;
    width: 350px;
    height: 60px;
}

input::placeholder {
    font-size: 24px;
    text-align: center;
}