.register-container>form {
    display: flex;
    margin: 40px 5%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.register-container>form>input {
    margin: 20px;
}

textarea {
    width: 350px;
}

.file-upload-input {
    height: inherit;
}

.register-submit {
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: #000;
    margin: 40px auto;
    font-weight: 600;
    width: 350px;
    height: 60px;

}

.register-submit:hover {
    background-color: white;
    color: green;
    border-color: black;
    transition: .6s ease;
}