.privacy_list {
    list-style: circle;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    margin: 20px 5%;
}

.privacy_list>li {
    text-align: justify;
    margin: 10px 0;
}

.privacy_policy_container {
    margin: 20px 0;
}

.no_style {
    font-weight: 600;
    font-weight: 300;
}