.three-part-container {
    display: flex;
    margin: 40px;
    font-size: 14px;
    margin-right: 60px;
    height: 400px;
}

.three-part-container img {
    max-width: 100%;
    min-height: 300px;
    max-height: 100%;
    margin-right: 50%;
}

.three-part-container>div:nth-child(1) {
    flex: 4;
    max-height: fit-content;
}

.three-part-container>div:nth-child(2) {
    flex: 3;

}

.three-part-container>div:nth-child(3) {
    height: 85%;
    flex: 3;
}

.three-part-container>div div {

    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
}

.text-on-design {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-between;
}

.text-on-design>div:nth-child(1) {
    background-color: #347571;
    color: #fff;
    border-radius: 15px;

}

.text-on-design>div:nth-child(2) {
    background-color: #EFD6B0;
    background-color: #347571;
    color: #fff;
    border-radius: 15px;
}

.text-on-design>div:nth-child(3) {
    background-color: #BEE6DB;
    background-color: #347571;
    color: #fff;
    border-radius: 15px;
}

.text-on-design>div:nth-child(4) {
    background-color: #CAA187;
    background-color: #347571;
    color: #fff;
    border-radius: 15px;
}

.text-on-design>div:nth-child(5) {
    background-color: #B2B2CF;
    background-color: #347571;
    color: #fff;
    border-radius: 15px;
}

.mobile-app-icon {
    border: none !important;
}

.mobile-app-icon>img {
    width: 150px;
    min-height: 50px;
    margin-right: 10px;
}


@media screen and (max-width:720px) {
    .three-part-container {
        flex-direction: column;
        height: 100%;
        margin: 0 10px;
    }

    .three-part-container img {
        max-width: 100%;
        display: block;
    }

    .mobile-app-icon {
        display: flex;
    }
}