.student-reg-container select,
input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(203, 206, 203);
    margin: 10px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-reg-container {
    margin: 10px 5%;
    background-color: aliceblue;
}

.student-reg-container>form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    font-size: 18px;
}

.register-submit {
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: #000;
    margin: 40px auto;
    font-weight: 600;
    width: 350px;
    height: 60px;

}

.register-submit:hover {
    background-color: white;
    color: green;
    border-color: black;
    transition: .6s ease;
}

@media screen and (max-width:720px) {

    .student-reg-container>form {

        grid-template-columns: repeat(2, 1fr);

    }

    .student-reg-container select,
    input {
        width: 300px;
    }
}

@media screen and (max-width:480px) {

    .student-reg-container select,
    input {
        width: 250px;
    }

    .student-reg-container>form {

        grid-template-columns: repeat(1, 1fr);

    }
}