.hm-text-section {
    height: 600px;
    display: flex;
    margin: 50px 50px;
}

.text-section-right {
    background-color: #fff;
    flex: 40%;
    margin-left: 25px;
    border-radius: 15px;
}

.text-section-left {
    flex: 40%;
    margin-right: 25px;
}

.text-section-left>div:nth-child(1)>p {
    font-size: 45px;
    margin: 0 auto;
    padding: 60px;
    color: white;
}

.text-section-left>div:nth-child(1) {
    background-color: #00b14f;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 25px;
}

td {
    text-align: left;
    margin-left: 20px;
    padding: 2px 5px;
}

.hm-vision-list {
    width: 75%;
    margin: 70px auto;
    color: #1a4c58;
}

.text-section-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.text-section-right div {
    display: flex;
    text-align: center;
    overflow: hidden;
    justify-content: space-around;
    padding: 0 20%;
}

.text-section-right>img {
    height: 80%;
    width: 80%;
}

.text-section-right div img {
    width: 45%;
    height: inherit;
}

@media screen and (max-width:720px) {

    .hm-text-section {
        display: flex;
        flex-direction: column;
        margin: 50px 50px;
        height: 100%;
    }

    .text-section-right {
        flex-direction: column;
    }
}