.hm-text-section {
    height: 600px;
    display: flex;
    margin: 50px 5%;
}

.text-section-right {
    background-color: #fff;
    flex: 40%;
    border-radius: 15px;
}

.text-section-left {
    flex: 40%;
    margin-right: 25px;
    /* margin: 10% 10%; */
}

.download-heading {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: left;
}


.app-desc {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #404040;
    font-weight: 500;
    text-align: justify;
}

td {
    text-align: left;
    margin-left: 20px;
    padding: 2px 5px;
}

.hm-vision-list {
    width: 75%;
    margin: 70px auto;
    color: #1a4c58;
}

.text-section-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.download-heading>span {
    color: #347571;
}

.text-section-right div {
    display: flex;
    text-align: center;
    overflow: hidden;
    justify-content: space-around;
    padding: 0;
}

.text-section-right>img {
    height: 80%;
    width: 80%;
}

.text-section-right div img {
    width: 48%;
    height: inherit;
}

@media screen and (max-width:720px) {

    .hm-text-section {
        display: flex;
        flex-direction: column;
        margin: 50px 50px;
        height: 100%;
    }

    .text-section-right {
        flex-direction: column;
    }

    .hm-text-section {
        margin: 0 20px;
    }
}