.hm-middle-heading {
    font-size:  1.5rem;
    font-weight: 600;
    margin: 40px 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hm-redBox {
    height: 10px;
    background-color: red;
    width: 30px;
    border-radius: 5px;
    margin-left: 10px;
}