.lg-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFF9F4;


}


.we-help {
    margin-top: 20%;
}

.world-class-learning {
    margin-top: 25%;
}



.image-in-middle-large {
    width: 350px;
    height: 350px;
}