p,
h3 {
    margin: 0;
    padding: 0;
}

.evening {
    color: green;
}

.mid-btn {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    font-weight: 600;
    border: 2px solid black;
    margin: 0 20px;
}

.mid-btn:hover {
    background-image: linear-gradient(to left, #f17dd0 0%, #76a1eb 51%, #f66ecf 100%);
}