p,
h3 {
    margin: 0;
    padding: 0;
}

.home_container {
    margin-top: 20px;

}

.evening {
    color: green;
}

.home-img-text {
    display: flex;
    margin: 50px 0;
    background-color: #f0f0f0;
}

.home-img-text>img {
    flex: 1;
    width: 55%;
}


.home-img-text>div {
    flex: 2;
    /* border: 5px solid hotpink; */
    padding: 50px;
    margin-left: 100px;
}

.home-img-text>div>p:nth-child(1) {
    font-weight: 600;
    color: rgb(6, 146, 62);
}

.home-img-text>div>p {
    text-align: justify;
}

.hm-text-on-img {
    width: 92%;
    background-image: url("../../ASSETS/IMG/homepage/background.png");
    height: 200px;
    background-repeat: no-repeat;
    border: 4px solid #808080;
    object-fit: cover;
    font-weight: 400;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hm-text-on-img>ul>li {
    z-index: 100;
}

.text-on-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.text-on-design {

    display: flex;
    background-color: rgb(242, 240, 236);
}

.text-on-design>div:nth-child(1) {
    margin: 5%;
    margin-top: 25%;
    font-size: 34px;
    font-weight: 600;
    padding: 24px 0 24px 24px;
}

.hm-text-on-img>h1 {
    padding: 20px 0 0px 20px;
}

.text-on-design>div:nth-child(2) {
    border-left: 5px solid rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    padding: 0 20px;
    padding-right: 0;

}

.text-on-design>div:nth-child(2)>div:nth-child(1) {
    background-color: #E7CDC2;
    padding: 15px 20px;
    border-radius: 15px;

}

.text-on-design>div:nth-child(2)>div:nth-child(2) {
    background-color: #EFD6B0;
    margin: 20px 0 0 50px;
    padding: 15px 15px;

    border-radius: 15px;
}

.text-on-design>div:nth-child(2)>div:nth-child(3) {
    background-color: #BEE6DB;
    margin: 20px 0 0 70px;
    padding: 15px 15px;
    border-radius: 15px;
}

.text-on-design>div:nth-child(2)>div:nth-child(4) {
    background-color: #CAA187;
    margin: 20px 0 20px 50px;
    padding: 15px 15px;
    border-radius: 15px;
}

.text-on-design>div:nth-child(2)>div:nth-child(5) {
    background-color: #B2B2CF;
    padding: 15px 15px;
    border-radius: 15px;
}

.text-on-design>div:nth-child(2)>div {
    padding: 0 0 15px 0;
    width: 80%
}

.mid-btn {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    font-weight: 600;
    border: 2px solid black;
    margin: 0 20px;
}

.mid-btn:hover {
    background-image: linear-gradient(to left, #f17dd0 0%, #76a1eb 51%, #f66ecf 100%);
}

.full-size-img {
    width: 100%;
}

.hm-text-on-img {
    font-size: 20px;
    text-align: justify;
}

.full-width-img-container {
    display: flex;
    justify-content: space-around;

}

.full-width-img-container>img {
    width: 45%;
}

.div_full_width_three_image {
    display: flex;
    width: 100%;

}

.hm-full-size-section {
    height: 200px;
    width: 100%;
    display: flex
}

.hm-full-size-section>div:nth-child(1) {
    background-color: red;
    width: 50%;
    height: 100%;
    background-image: url(../../ASSETS/IMG/homepage/threeperson.jpeg);
}

.hm-full-size-section>div:nth-child(2) {
    background-image: url(../../ASSETS/IMG/homepage/fiveperson.jpeg);
    background-color: rgb(40, 143, 240);

    height: 100%;
    width: 50%;
}

/* 
@media screen and (max-width:720px) {
    .home_container>div:nth-child(1)>div>p {

        font-size: 3.0rem;

    }

    .home_container>div:nth-child(1) {
        flex-direction: column;
    }

    .home_container>div:nth-child(1)>img {
        width: 100%;
        flex: 1;
        border: 2px solid rgb(38, 41, 135);
    }

    .home_container>div:nth-child(1)>div>p {
        padding: 34px;
    }
}

@media screen and (max-width:408px) {
    .home_container>div:nth-child(1)>div>p {

        font-size: 2.0rem;

    }

    .home_container>div:nth-child(1)>div {
        flex: 1;
        border: 2px solid rgb(90, 7, 48);
        padding: 34px auto;
    }
}

@media screen and (max-width:280px) {
    .home_container>div:nth-child(1)>div>p {

        font-size: 1.2rem;

    }
} */

.hm-img-text {
    color: black !important;
    font-weight: 500;
}