p,
h3 {
    margin: 0;
    padding: 0;
}

.evening {
    color: green;
}

.mid-btn {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    font-weight: 600;
    border: 2px solid black;
    margin: 0 20px;
}

.mid-btn:hover {
    background-image: linear-gradient(to left, #f17dd0 0%, #76a1eb 51%, #f66ecf 100%);
}

.hr-first-line {
    margin-top: 65px !important;
}

/* .hm-full-size-section>div:nth-child(2) {

    background-color: rgb(40, 143, 240);

    height: 100%;
    width: 50%;
} */

/* .why-choose-us {
    border: 2px solid black;
    display: inline-block;
    padding: 10px 50px;
    font-size: 45px;
    font-weight: 700;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to right,
            #fbc2eb 0%,
            #a6f1ee 51%);
    margin-bottom: 30px;
} */

/* @media screen and (max-width:1080px) {
    .text-on-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .text-on-design>div:nth-child(2) {
        width: 100%;
        margin: 40px 50px
    }
} */

/* @media screen and (max-width:720px) {
    .home-img-text {
        flex-direction: column;
    }

    .home-img-text>img {
        width: 100%;
        height: fit-content;
    }
} */


/* 

@media screen and (max-width:408px) {
    .home_container>div:nth-child(1)>div>p {

        font-size: 2.0rem;

    }

    .home_container>div:nth-child(1)>div {
        flex: 1;
        border: 2px solid rgb(90, 7, 48);
        padding: 34px auto;
    }
}

@media screen and (max-width:280px) {
    .home_container>div:nth-child(1)>div>p {

        font-size: 1.2rem;

    }
} */

/* .hm-img-text {
    color: black !important;
    font-weight: 500;
} */