.whats-more-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.whats-more-container .card {
    /* border: 2px solid green; */
    max-width: 400px !important;
}

.card-img-top {
    height: 350px;
    /* border: 2px solid red; */
}