.whats-more-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 5%;
    font-size: 14px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.whats-more-container .card {
    max-width: 400px !important;
    border-radius: 15px;
}

.card-img-top {
    height: 250px;
    border-radius: 15px;
}

.card {
    margin-top: 20px;
}

@media screen and (max-width:1080px) {}

@media screen and (max-width:1080px) {}

@media screen and (max-width:720px) {

    .whats-more-container {
        justify-content: center;
    }
}