.all_courses>img {
    width: 100%;
}

.filter-section {
    margin: 40px 5%;
    display: flex;
    justify-content: flex-start;
}

.filter-section>select {
    border: none;
    /* padding: 8px 16px; */
    border-radius: 8px;
    height: 50px;
    width: 250px;
    border: 2px solid grey;
    margin-right: 50px;
}

.courses_list>div>img {
    max-width: 400px;
    max-height: fit-content;

}

.live-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 5%;
    grid-row-gap: 40px;
    grid-column-gap: 50px;
}

.live-class-page-line {
    margin-top: 0 !important;
}

.live-class-top-box>h1 {
    padding-top: 20px;
}

.live-class-top-box {
    width: 100%;
    background-color: #347571;
    height: 214px;
    color: #fff;
    padding-top: 64px;
}

.hr-line {
    margin-top: 0;
}

@media screen and (max-width:940px) {
    .live-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:720px) {
    .filter-section {
        justify-content: space-between;
    }

    .filter-section>select {
        width: 130px;
        margin-right: 0;
    }
}