.all_courses>img {
    width: 100%;
}

.filter-section {
    border-radius: 10px;
    margin: 50px 100px 20px;
    display: flex;
}

.filter-section>div {
    justify-content: space-around;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 3px #00000052;
    border: 1px solid #e4e4e4;
    width: 250px;
    font-size: 18px;
    color: #707070;
    font-weight: 500;

}

.filter-section>div>select {
    border: none;
    padding: 8px 16px;
    /* width: 250px; */
    border-radius: 8px;
    height: 50px;
}

.courses_list>div>img {
    max-width: 400px;
    max-height: fit-content;

}

.live-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 5%;
    grid-row-gap: 40px;
    grid-column-gap: 50px;
}



.live-class-page-line {
    margin-top: 0 !important;
}

.live-class-top-box>h1 {
    padding-top: 20px;
}

.live-class-top-box {
    width: 100%;
    background-color: #347571;
    height: 214px;
    color: #fff;
    padding-top: 64px;
}

.hr-line {
    margin-top: 0;
}

@media screen and (max-width:940px) {
    .live-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:720px) {


    .filter-section {
        margin: 0 5%;
        margin-top: 40px;
        justify-content: space-around;

    }

    .filter-section>div {
        /* width: 150px; */
    }

    .filter-section>div>select {
        width: 150px;
    }
}