.threebox-container {
    display: flex;
    height: 175px;
    margin: 1% 5%;
    justify-content: space-between;
}

.threebox-container>div {
    flex: 1;
    border: 1px solid #000;
    margin: 0 0px;
    border-bottom: 7px solid #347571;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid-level-container {
    margin: 0 40px !important;
}

.threebox-container>div>span:nth-child(1) {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

.threebox-container>div>span:nth-child(2) {
    font-size: 28px;
    font-weight: 700;
    margin: 22px 0 0 0;
}

@media screen and (max-width:720px) {
    .threebox-container>div>span:nth-child(1) {
        font-size: 40px;
    }

    .threebox-container {
        flex-direction: column;
        height: 100%;
        margin: 5%;

    }

    .mid-level-container {
        margin: 0 0px !important;
    }

    .threebox-container>div {
        margin-top: 0px;
        padding: 20px;
    }
}