.App {
  text-align: center;
  font-size: 22px;
}

p,
h3,
h1 {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;

}

.footer-container>a {
  text-decoration: none !important;
  color: #000 !important;
}

.footer-container>a {
  color: rgb(124, 12, 12) !important;
}

a:hover {
  color: #e3b30a !important;
  cursor: pointer;
}