.App {
  text-align: center;
  font-size: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p,
h3,
h1 {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */

}

.footer-container>a {
  text-decoration: none !important;
  color: #000 !important;
}

.footer-container>a {
  color: white !important;
}

a:hover {
  color: rgb(2, 106, 2) !important;
  cursor: pointer;
}