.App {
  text-align: center;
  font-size: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: rgb(2, 106, 2) !important;
  cursor: pointer;
}