.logo {
    flex: 2;
}

.logo>.dainik_school_logo {
    width: 200px;
    height: 100px;
}

.navbar-logo {
    height: 7vh;
    margin-top: 2px !important;
    color: black;
}

a {
    text-decoration: none;
    color: "#fff";
}

.navbar {

    color: #347571 !important;
    margin-bottom: 0 !important;
    height: 9vh;
}

.container {

    margin-bottom: 0 !important;
}

.navbar-expand-lg {
    padding: 0;
}

.navbar-component {
    color: green;
}

.nav-link {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #347571 !important;
    padding: 0 !important;
    margin: 25px 0 0 35px;
}

.nav-link>a {
    padding: 10px 0 !important;
}

.nav-link>button {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
    margin-top: -5px !important
}

.btn {
    background-color: #347571;
}