.logo {
    flex: 2;
}

.logo>.dainik_school_logo {
    width: 200px;
    height: 100px;
}

.navbar-logo {
    height: 7vh;
    margin-top: 2px !important;
    color: black;
}

a {
    text-decoration: none;
    color: "#fff";
}

.navbar {
    color: #347571 !important;
    height: 9vh;
    z-index: 12000;
    background-color: #fff;
}

.container {
    margin: 0 auto !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    margin-left: 5% !important;


}


.navbar>.container {
    margin: 0 10px;
}

.navbar-expand-lg {
    background-color: #fff !important;
    padding: 0;
    height: 60px;
}

.navbar-component {
    color: green;
}

.nav-link {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #347571 !important;
    padding: 0 !important;
    margin: 0 20px 0 15px;
}

.login-btn-nav {
    color: #fff !important;
    margin-top: 4px;
    padding: 5px !important;
    font-family: 600;
}

.nav-link>a {
    padding: 10px 0 !important;
}

.nav-link>button {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
    margin-top: -5px !important
}

.btn {
    background-color: #347571;
}

.navbar-logo {
    height: 45px;
}

.navbar-nav {
    background-color: #fff !important;
}

.small-screen {
    display: none;
}

.large-screen {
    margin: 0 5% 0 0;
    width: 80px;
}

@media screen and (max-width:800px) {
    .large-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }
}

@media screen and (max-width:576px) {

    .navbar>.container {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }





}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}