a {
    text-decoration: none;
    color: "#fff";
}

.navbar-expand-lg {
    background-color: #fff !important;
    height: 56px !important;
}

.navbar-container {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    align-items: center;
    z-index: 15;
}

.navbar-logo {
    width: 150px;
}

.mb-3 {
    margin-bottom: 0 !important;
    padding: 0;
}

.nav-link {
    color: #347571;
    font-weight: 500;
    font-size: 16px;
}

.navbar-container .right-box {
    display: flex;

}

.pe-3 {
    padding-right: 0 !important;
}

.links-container>span>a {
    color: #347571;
    margin: 0 30px;
}

.classes-container {
    position: relative;
    background-color: pink;
}

.links-container {
    display: flex;
}

.expand-link-container {

    display: flex;
    position: fixed;
    overflow: scroll;
    flex-direction: column;
    background-color: green;
    color: white;
    padding: 0 10px;
    display: none;
}

.expand-link-container>span {
    display: inline-block;
    display: none;
}

.show-expand {
    display: inline-block;
}

.nav-logo {
    width: 150px;
    height: 50px;
    vertical-align: middle;
}

.login-btn-container>button {
    color: #fff;
    margin-top: 10px;
    font-size: 16px !important;
}



.btn {
    background-color: #347571;
    color: #fff;
    padding: 5px 20px;
}

.navbar-collapse {
    background-color: #fff;
    z-index: 20;
}

.offcanvas {
    max-width: 50%;
}

.login-small {
    display: none;
}

.container-fluid {
    padding: 0 5%;
}

@media screen and (max-width:1000px) {
    .login-small {
        display: block;
    }

    .login-large {
        display: none;
    }

    .login-btn-container>button {
        color: #fff;
        margin-top: 10px;
    }
}

@media screen and (max-width:576px) {
    .nav-logo {
        width: 100px;
        height: 40px;
    }

    .navbar>.container {
        justify-content: flex-end;
        align-items: center;
    }
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}